services:
  - postgresql
  
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  
env:
  global:
     - BUILD_ON_TRAVIS=true

language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install psycopg2

  # command to run tests
script:
  - cd backend/
  - python3 manage.py makemigrations accounts posts comment collection tag vote 
  - python3 manage.py migrate
  - python3 manage.py test
  
